
{% comment %}{% if page.content.size > 0 %}
	<div class="rte">
		{{ page.content }}
	</div>
{% endif %}{% endcomment %}

<div class="about_us_page">
	{% section 'index-banners-about' %}

	{% section 'index-banners-about-2' %}

	{% section 'index-image-with-text-about' %}
	
	{% section 'index-testimonials' %}
</div>